<template>
    <section :class="{'background--zen': zen}"
             :style="{backgroundPositionX: `${offset.x}%`, backgroundPositionY: `${offset.y}%`}"
             class="background"></section>
</template>

<script lang="ts">
import { defineComponent, PropType } from 'vue';

interface OffsetOptions {
  x: number
  y: number
}

export default defineComponent({
  name: 'background',
  props: {
    zen: {
      type: Boolean as PropType<boolean>,
      required: true,
    },
  },
  data() {
    return {
      offset: {
        x: 50,
        y: 50,
      } as OffsetOptions,
    };
  },
  created() {
    window.addEventListener('mousemove', this.handleMouseMove, false);
  },
  beforeUnmount() {
    window.removeEventListener('mousemove', this.handleMouseMove, false);
  },
  methods: {
    handleMouseMove(e: MouseEvent) {
      const [windowSize, windowHeight] = [window.innerWidth, window.innerHeight];
      const [cursorX, cursorY] = [e.clientX, e.clientY];
      let [diffX, diffY] = [cursorX * 50 / windowSize, cursorY * 50 / windowHeight];

      this.offset = {
        x: 25 + diffX,
        y: 25 + diffY,
      };
    },
  },
});
</script>

<style lang="scss" scoped>
.background {
  $blur: 5px;

  &, &::before {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

  background: url(../assets/me.jpg) no-repeat center / 120% auto;
  filter: blur(#{$blurFull});
  transition-duration: $blurTransition;
  transition-property: filter;

  @supports (backdrop-filter: blur($blurDiff)) {
    filter: blur(#{$blurDiff});
  }

  @media all and (orientation: portrait) {
    background-size: auto 120%;
  }

  &::before {
    content: "";
    background: rgba(#000, 0.5);
    transition: opacity 0.3s;
  }

  &--zen {
    background-position: center !important;
    filter: blur(0px) !important;
    transition-property: background-position, filter;

    &::before {
      opacity: 0;
    }
  }

  @include mobile {
    background-position: 70% !important;
  }
}
</style>
