<template>
    <section :class="{'social--zen': zen}" class="social">
        <social-buttons-group>
            <social-button href="tg://resolve/?domain=daniluk4000">Telegram</social-button>
            <social-button href="https://vk.com/daniluk4000" target="_blank">VK</social-button>
            <social-button href="https://instagram.com/daniluk4000" target="_blank">Instagram</social-button>
        </social-buttons-group>
        <social-buttons-group>
            <social-button href="https://github.com/daniluk4000" target="_blank">Github</social-button>
            <social-button href="https://gitlab.com/daniluk4000" target="_blank">Gitlab</social-button>
        </social-buttons-group>
        <social-button highlighted href="https://gitlab.com/daniluk4000/me" target="_blank">Исходники</social-button>
    </section>
</template>

<script lang="ts">
import { defineComponent, PropType } from 'vue';
import SocialButton from '../components/SocialButton.vue';
import SocialButtonsGroup from '../components/SocialButtonGroup.vue';

export default defineComponent({
  name: 'Social',
  props: {
    zen: {
      type: Boolean as PropType<boolean>,
      required: true,
    },
  },
  components: {
    SocialButtonsGroup,
    SocialButton,
  },
});
</script>

<style lang="scss" scoped>
.social {
  margin: 0 0 3em;
  display: flex;
  transition: opacity #{$blurTransition};
  width: 100%;
  @include mobile {
    flex-direction: column;
  }

  .buttons:not(:last-child) {
    margin-right: 20px;
    @include mobile {
      margin: 0 0 10px;
    }
  }

  &--zen {
    opacity: 0;
  }
}
</style>
