<template>
    <section :class="{'textHead--zen': zen}" class="textHead">
        <h1
                class="textHeadContent">Привет! Я - <span class="textHeadContentAction" @click="$emit('zen', !zen)"
                                                          @mouseleave="$emit('zen', false)"
                                                          @mouseover="$emit('zen', true)">Данила Родичкин</span>
        </h1>
    </section>
</template>

<script lang="ts">
import { defineComponent, PropType } from 'vue';

export default defineComponent({
  name: 'TextHead',
  props: {
    zen: {
      type: Boolean as PropType<boolean>,
      required: true,
    },
  },
});
</script>

<style lang="scss" scoped>
.textHead {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 2em;
  line-height: 150%;
  @include blurBackground(0.2);

  @include mobile {
    font-size: 1.5em;
  }

  &, &Content, &ContentAction {
    transition-duration: $blurTransition;
    transition-property: background-color, color;
  }

  &--zen {
    position: sticky !important;
    top: 20px;
    background-color: rgba(#fff, 0.7);

    .textHeadContent {
      color: #000;
    }

    .textHeadContentAction {
      background: #000;
      color: #fff;
      border-color: red;
    }
  }

  &Content {
    margin: 0;
    padding: 0;
    color: #fff;

    &Action {
      color: #000;
      background: #fff;
      cursor: pointer;
      border-bottom: 3px solid green;

      @include mobile {
        display: block;
      }
    }
  }
}
</style>
