<template>
    <section :class="{'textDesc--zen': zen}" class="textDesc">
        <text-desc-single-section v-for="section in getSections()" :key="section.title"
                                  :hidden="hoveredOne"
                                  :section="section"
                                  @hover="[hoveredOne=false, hoveredOne=$event]"/>
    </section>
</template>

<script lang="ts">
import { defineComponent, PropType } from 'vue';
import { TextDescSection } from '../types';
import TextDescSingleSection from '../components/TextDescSingleSection.vue';

export default defineComponent({
  name: 'TextDesc',
  components: { TextDescSingleSection },
  props: {
    zen: {
      type: Boolean as PropType<boolean>,
      required: true,
    },
    isMobile: {
      type: Boolean as PropType<boolean>,
      required: true,
    },
  },
  data() {
    return {
      hoveredOne: false,
    };
  },
  methods: {
    getSections(): TextDescSection[] {
      const sections: TextDescSection[] = [this.getFirstSection(), this.getSecondSection(), this.getThirdSection()];
      if (this.isMobile) sections.push(this.getMobileSection());

      return sections;
    },
    getFirstSection(): TextDescSection {
      return {
        title: 'У меня есть:',
        items: [
          'Попугай',
          'Работа Senior фронтендером в Азбуке Вкуса',
          'Telegram, ВК, Инстаграм, гитхабы и гитлабы',
          'Смысл в жизни',
          'Спонтанное желание раз в год переделывать свой сайт-порфтолио',
        ],
      };
    },
    getSecondSection(): TextDescSection {
      return {
        title: 'Я люблю:',
        items: [
          'Попугаев и котиков',
          'Свою работу и то, чем я занимаюсь',
          'Искать баги',
          'Фиксить баги',
          'Играть во всякое разное',
        ],
      };
    },
    getThirdSection(): TextDescSection {
      return {
        title: 'Я умею:',
        items: [
          'Кормить и чесать попугаев, гладить котиков',
          'Выживать на релизах',
          'Делать HTML5 + CSS3 + SASS + Vue3 (Nuxt) + TS приложения',
          'Работать с Node.JS и фреймворками типа sequelize/express',
          'Мыслить, следовательно существовать',
        ],
      };
    },
    getMobileSection(): TextDescSection {
      return {
        title: 'Этот сайт:',
        items: [
          'Лучше работает с ПК версии',
        ],
      };
    },
  },
});
</script>

<style lang="scss" scoped>
$width: 85%;
$rows: 3;
$offset: 20px;

.textDesc {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(#{$rows}, calc(#{math.div($width, $rows)} - #{math.div($offset, $rows - 1)}));
  grid-column-gap: $offset;
  font-size: 1.1em;
  transition-duration: $blurTransition;
  transition-property: opacity, visibility;
  @include mobile {
    grid-template-columns: 100%;
    grid-row-gap: $offset;
  }

  &--zen {
    opacity: 0;
    visibility: hidden;
  }
}
</style>
