<template>
    <a :class="{'button--highlighted': highlighted}" :href="href" :target="target" class="button">
        <slot/>
    </a>
</template>

<script lang="ts">
import { defineComponent, PropType } from 'vue';

export default defineComponent({
  name: 'SocialButton',
  props: {
    href: {
      type: String as PropType<string>,
      required: true,
    },
    target: {
      type: String as PropType<string>,
    },
    highlighted: {
      type: Boolean as PropType<boolean>,
      default: false,
    },
  },
});
</script>

<style lang="scss" scoped>
.button {
  @include blurBackground(0.2);
  color: #fff;
  padding: 10px 5px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: bold;
  transition: 0.3s;
  border: 5px double green;
  border-radius: 12px 0;
  min-width: 150px;
  text-align: center;
  cursor: pointer;
  @include mobile {
    font-size: 1rem;
  }

  &:hover {
    border-style: groove;
  }

  &--highlighted {
    background: green;
    border-color: #000;
  }
}
</style>
