<template>
    <div class="buttons" v-if="$slots.default?.()?.length">
        <slot/>
    </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'SocialButtonsGroup',
});
</script>

<style lang="scss" scoped>
.buttons {
  display: flex;
  @include mobile {
    flex-direction: column;
  }


  > ::v-slotted(.button) {
    &:first-child {
      @include pc {
        border-right-style: none;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
      @include mobile {
        border-bottom-style: none;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }
    }

    &:last-child {
      @include pc {
        border-left-style: none;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
      @include mobile {
        border-top-style: none;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }
    }

    &:not(:first-child):not(:last-child), &:nth-child(2) {
      @include pc {
        border-left-style: solid;

        &:not(:last-child) {
          border-right-style: solid;
          border-radius: 0;
        }
      }

      @include mobile {
        border-top-style: solid;

        &:not(:last-child) {
          border-bottom-style: solid;
          border-radius: 0;
        }
      }
    }
  }
}
</style>
