<template>
    <section :class="{'descSection--hovered': hover, 'descSection--hidden': !hover && hidden}"
             class="descSection"
             @mouseleave="[hover=false, $emit('hover', false)]"
             @mouseover="[hover=true, $emit('hover', true)]"
    >
        <div class="descSectionTitle" v-html="section.title"/>
        <ul class="descSectionList">
            <li v-for="(item, index) in section.items" :key="index" class="descSectionListItem"
                v-html="index+'. '+item"/>
        </ul>
    </section>
</template>

<script lang="ts">
import { defineComponent, PropType } from 'vue';
import { TextDescSection } from '../types';

export default defineComponent({
  name: 'TextDescSingleSection',
  data() {
    return {
      hover: false,
    };
  },
  emits: {
    hover(payload: boolean) {
      return typeof payload === 'boolean';
    },
  },
  watch: {
    hidden(val) {
      if (!val && this.hover) {
        this.hover = false;
      }
    },
  },
  props: {
    hidden: {
      type: Boolean as PropType<boolean>,
      required: true,
    },
    section: {
      type: Object as PropType<TextDescSection>,
      required: true,
    },
  },
});
</script>

<style lang="scss" scoped>
.descSection {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  &, * {
    transition: 0.3s;
  }

  &Title {
    @include blurBackground(0.1);
    font-size: 1.5em;
    font-weight: bold;
  }

  &List {
    @include blurBackground;
    width: 100%;
    list-style: none;
    padding: 0;

    &Item {
      padding: 5px 0;
      background: rgba(#000, 0.2);
      margin-bottom: 1px;
    }
  }

  &--hovered {
    .descSectionTitle {
      background: rgba(#fff, 0.8);
      color: #000;
    }

    .descSectionListItem {
      background: rgba(#fff, 1);
      color: #000;
    }
  }

  &--hidden {
    opacity: 0.3;
  }
}
</style>
