<template>
    <component :is="screen" v-for="screen in screens" :key="screen" v-bind="getProps(screen)"
               :class="[`screen--${screen}`]"
               class="screen" @zen="zen=$event"/>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import TextHead from './views/TextHead.vue';
import TextDesc from './views/TextDesc.vue';
import Background from './views/Background.vue';
import Social from './views/Social.vue';

type ComponentsScreens = string[]

export default defineComponent({
  name: 'App',
  data() {
    return {
      isMobile: false,
      zen: false,
      screens: ['background', 'textHead', 'social', 'textDesc'] as ComponentsScreens,
    };
  },
  created() {
    this.isMobile = window.innerWidth < 1280;
    setInterval(() => {
      this.isMobile = window.innerWidth < 1280;
    }, 100);

    console.debug('%cТы заблудился, странник?', 'color: red; font-size:70px;');
  },
  components: { TextHead, TextDesc, Background, Social },
  methods: {
    getProps(component: string): { [key: string]: any } {
      const props: { [key: string]: any } = {
        zen: this.zen,
      };

      if (component === 'textDesc') {
        props.isMobile = this.isMobile;
      }

      return props;
    },
  },
});
</script>

<style lang="scss">
* {
  user-select: none;
  scrollbar-width: thin;

  &, &::before, &::after {
    box-sizing: border-box;
  }
}

body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

html, body, body > #app {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
  min-height: 100%;
}

#app {
  background: #000;
  position: relative;
  padding: 20px 20px 20px 5vw;
  align-items: flex-start;
  justify-content: center;
  font-size: 16px;
  @include mobile {
    font-size: 4vw;
  }
  @include tablet {
    font-size: 2vw;
  }

  [class^="screen--text"], [class*=" screen--text"], [class^="screen--social"], [class*=" screen--social"] {
    color: #fff;
    position: relative;
    z-index: 1;
  }
}
</style>
