@mixin mobile {
  @media all and (max-width: 1279px) {
    @content;
  }
}

@mixin tablet {
  @media all and (max-width: 1279px) and (min-width: 750px) {
    @content;
  }
}

@mixin pc {
  @media all and (min-width: 1280px) {
    @content;
  }
}

$blur: 10px;
$blurDiff: 5px;
$blurFull: $blur + $blurDiff;
$blurTransition: 0.3s;

@mixin blurBackground($decrease: 0) {
  background: rgba(#000, 0.2 + $decrease);
  @include pc {
    backdrop-filter: blur(#{$blur});
  }
}
